.ipynb_checkpoints/
__pychache__/

*.pyc
*.pyo
*.pyd
*.tmp
*.swp
*.swo
*.bak
*.~*

*.out
*.o
*.so
*.exe
*.dll

*.log
.DS_Store
Thumbs.db

venv/
.env/
.virtualenv/

*.csv
*.h5
*.npz
*.pkl
*.ckpt
*.onnx
*.tflite
*.tar.gz

results/
output/
*.tensorboard
